@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    li{
        font-size: 20px;
        font-weight: 500;
    }
    a:hover{
        background-color:antiquewhite;
    }
</style>
<nav id="navigation">
    <div class="container">  
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="#">Trang Chủ</a></li>
                <li><a href="/Categories/Index">Danh Mục</a></li>
                <li><a href="/Products/List">Sản Phẩm</a></li>
                <li><a href="/Customers/Index">Nguời Dùng</a></li>
                <li><a href="/Users/Index">Tài Khoản</a></li>
                <li><a href="Order/PlaceOrder">Đơn Hàng</a></li>
                <li><a href="#">Vận Chuyển</a></li>
                <li><a href="/Report/Index">Thống Kê & Báo Cáo</a></li>
                <li><a href="/Admin/Index">Quay Lại</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>