<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Store Sport Da Nang</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"></i>0826813045</a></li>
					<li><a href="#"></i> sportdanang@email.com</a></li>
					<li><a href="#"></i> Da Nang, Viet Nam</a></li>
				</ul>
				<ul class="header-links pull-right">
                    <li><a href="/Admin/Index"></i>Quản Lí Admin</a></li>
                    <li><a href="/Users/Login"></>Đăng Nhập-Đăng Kí</a></li>
                    <li><a href="/Users/Logout"></i>Thoát</a></li>
				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->
		<!-- MAIN HEADER -->
        @await Component.InvokeAsync("Search");
		<!-- /MAIN HEADER -->
	</header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
      @await Component.InvokeAsync("Navbar");
    <!-- /NAVIGATION -->
	<!--DEAL-->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                
                <div class="col-md-12">
                    <div class="row">
                        @RenderBody()
                        
                    </div>
                </div>
                
            </div>
           
        </div>
       >
    </div>
    <!-- /SECTION -->
    <!--jquery pluggins-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
